.wrapperBorder {
  display: grid;
}

.title-battle {
  grid-column: 1/4;
  padding-bottom: 2rem;
}

.hamster-img-left {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}

.hamster-img-right {
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}

.result-img-left {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}

.result-img-right {
  grid-column: 3 / 4 ;
  align-self: center;
  justify-self: center;
}

.winner-info {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  padding-bottom: 2rem;
}

.results {
  text-align: center;
  padding-top: 20px;
}

.left {
  margin-right: 5px;
}

.result-wrapperBorder {
  display: grid;
  padding: 2rem 25rem;
}

.result-image {
  height: 160px;
  width: 180px;
  border-radius: 20px;
  background: bisque;
  border: 3px solid skyblue;
}

.winner {
  display: block;
}

.select-image-wrapperBorder {
  display: grid;
  padding: 0 15rem;
}

.image1 {
  width: 260px;
  height: 180px;
  padding: 10px;
  background: bisque;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.image1:hover {
  cursor: pointer;
  border: 6px #cc8b65 solid;
  transition: all 0.2s ease-out;
}