.index-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10%;
  background-color: bisque;
  width: auto;
}

.link-battle {
  color:#cc8b65;
}

.hampster_home_single {
  max-width: 50%;
}

.hampster_home_many {
  max-width: 80%;
}

