.container {
  padding: 0 3rem;
}

.form-panel {
  padding-bottom: 4rem;
}

.img-responsive {
  /* height: auto; */
  width: 60%;
  height: 60%;
}

.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  border: 1px black;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.box1{
  display: flex;
  justify-content: center;
  background-color: bisque;
}
.box1:hover{
  background-color:whitesmoke;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}